<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="factory">
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3542/provenance
        </property>
        <property name="hibernate.connection.datasource">MySQL-provenance@localhost</property>
        <property name="hibernate.connection.username">
            provenance_usr
        </property>
        <property name="hibernate.connection.password">
            provenance
        </property>

        <!-- List of XML mapping files -->
        <mapping class="edu.uw.css553.backend.entities.Action" resource="Action.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.ExecutionLog" resource="ExecutionLog.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.LogStep" resource="LogStep.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.LogParameter" resource="LogParameter.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.Project" resource="Project.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.Tool" resource="Tool.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.ToolParameter" resource="ToolParameter.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.Workflow" resource="Workflow.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.WorkflowParameter" resource="WorkflowParameter.hbm.xml"/>
        <mapping resource="Project.hbm.xml"/>
    </session-factory>
</hibernate-configuration>