<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/provenance
        </property>
        <property name="hibernate.connection.username">
            provenance_usr
        </property>
        <property name="hibernate.connection.password">
            provenance
        </property>

        <!-- List of XML mapping files -->
        <mapping class="edu.uw.css553.backend.entities.Action" resource="Action.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.ExecutionLog" resource="ExecutionLog.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.LogStep" resource="LogStep.hbm.xml"/>
        <mapping class="edu.uw.css553.backend.entities.Workflow" resource="Workflow.hbm.xml"/>

    </session-factory>
</hibernate-configuration>